@model IEnumerable<ClaySysEventMa.Models.Event>
&nbsp;
&nbsp;
<h2>Available Events</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Date</th>
            <th>Location</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Date.ToShortDateString()</td>
                <td>@item.Location</td>
                <td>
                    <a asp-action="RegisterForEvent" asp-route-id="@item.Id" class="btn btn-primary">Register</a>
                </td>
            </tr>
        }
    </tbody>
</table>
